# ======================================
# Angular / Frontend
# ======================================
.angular/
tfm_web/.angular/

node_modules/
tfm_web/node_modules/

dist/
tfm_web/dist/

npm-debug.log*
yarn-error.log*

# ======================================
# .NET / Visual Studio
# ======================================
**/bin/
**/obj/
**/.vs/

# Visual Studio user files
*.suo
*.user
*.userosscache
*.sln.docstates

# ======================================
# Build / Test results
# ======================================
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# ======================================
# Logs & temp files
# ======================================
*.log
*.tmp
*.cache
*.pdb
*.obj
*.ilk

# ======================================
# NuGet
# ======================================
**/packages/*
!**/packages/build/
*.nupkg
*.nuget.props
*.nuget.targets

# ======================================
# OS / IDE
# ======================================
.idea/
.vscode/
.DS_Store
Thumbs.db

# ======================================
# Misc
# ======================================
*.publishsettings
*.pfx
orleans.codegen.cs